<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>851188983996-uvlvcq316us1kocbrhpmhjc19caj8gls.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.851188983996-uvlvcq316us1kocbrhpmhjc19caj8gls</string>
	<key>API_KEY</key>
	<string>AIzaSyBlk65-TfYPRNBXCmWFpwwctW8m1ZLubYo</string>
	<key>GCM_SENDER_ID</key>
	<string>851188983996</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>appchance.todoApp</string>
	<key>PROJECT_ID</key>
	<string>todoapp-675ba</string>
	<key>STORAGE_BUCKET</key>
	<string>todoapp-675ba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:851188983996:ios:ff43b9b9695c75bf</string>
	<key>DATABASE_URL</key>
	<string>https://todoapp-675ba.firebaseio.com</string>
</dict>
</plist>